.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 89vh;
}

.board{
    display: grid;
    height: 450px;
    width: 450px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    background-color: black;
}

.box{
    background-color: #eee;
    text-align: center;
    padding: 35px;
    cursor: pointer;
    font-size: 24px;
}